.header {
  background: #414141;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.160784);
  padding: 20px 0;

  .flex {
    display: flex;
    flex-direction: row;
  }
  .right-column {
    flex-direction: revert;
    display: flex;
    margin-left: auto;
    position: relative;

    .hamburger {
      background: transparent;
      border: none;
      height: 32px;
      position: relative;
      right: 0;
      top: 0;
      width: 32px;
    }
  }
}

.icon-hamburger {
  background: url(../../../public/icons/icon_menu.png) no-repeat 0 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
