@import "variables.scss";

.footer {
  margin-top: $distance-block;
  background-color: #414141;

  ul {
    list-style-type: none;
    padding: $distance-block 0;

    li + li {
      margin-left: 44px;
    }
    a {
      font-family: "Hiragino Kaku Gothic Pro";
      font-style: normal;
      font-weight: 300;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.033px;
      color: #ffffff;
    }
  }
}
